/* --FONTS-- */

@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora/Sora.woff2") format("woff2"),
    url("/fonts/Sora/Sora.woff") format("woff"),
    url("/fonts/Sora/Sora.ttf") format("truetype");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand/Quicksand.woff2") format("woff2"),
    url("/fonts/Quicksand/Quicksand.woff") format("woff"),
    url("/fonts/Quicksand/Quicksand.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter.woff2") format("woff2"),
    url("/fonts/Inter/Inter.woff") format("woff"),
    url("/fonts/Inter/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

/* --GLOBAL-- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --background-color: #f4f5fa;
  --input-background-color: #ffffff;
  --element-background-color: #ffffff;
  --primary-font-color: #444d7b;
  --button-background-color: #63c6a7;
  --button-font-color: #ffffff;
  --selected-background-color: #d6dcff;
  --hover-background-color: #e7fff7;
  --bio-player-font-color: #c3c3c3;
  --sub-text-color: #d8d6d6;

  /* FONTS */
  --primary-font-family: "Sora", sans-serif;
  --secondary-font-family: "Quicksand", sans-serif;
  --tertiary-font-family: "Inter", sans-serif;

  /* BOX SHADOW */
  --box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--background-color);
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

main {
  padding: 6rem 3.5rem;
  width: 100%;
  display: grid;
  height: 100vh;
  width: 100%;
  gap: 2rem;
}

h1,
h2 {
  font-family: var(--primary-font-family);
  font-size: clamp(1rem, 4.2vw, 4rem);
  font-weight: 800;
  color: var(--primary-font-color);
}

h3 {
  font-family: var(--primary-font-family);
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 800;
  color: var(--primary-font-color);
}

p,
label,
input {
  font-size: clamp(1rem, 1vw, 1rem);
  text-wrap: wrap;
}

a {
  text-decoration: none;
}

.subtitle-large {
  font-family: var(--primary-font-family);
  font-size: clamp(0.8rem, 2vw, 3.5rem);
  font-weight: 800;
  color: var(--primary-font-color);
}

.subtitle-medium {
  font-family: var(--secondary-font-family);
  font-size: clamp(0.7rem, 2vw, 3rem);
  font-weight: 400;
  color: var(--primary-font-color);
  margin-bottom: 0.5rem;
}

.subtitle-small {
  font-family: var(--secondary-font-family);
  font-size: clamp(0.6rem, 1.5vw, 2.5rem);
  font-weight: 400;
  color: var(--primary-font-color);
}

/* UTILITY CLASSES - NOG EVEN OVERLEGGEN MET TEAM*/

/* .placeholder-text{
    font-family: var(--tertiary-font-family);
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    color: var(--primary-font-color);
}

.player-name{
    font-family: var(--primary-font-family);
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-font-color);
} */
